.board{
  background-color: lightblue;
  padding: 2rem;
}

.portfolioContainer {
  max-width: 500px;
  background-color: lightgrey;
  border: 3px solid darkblue;
  padding: 1rem;
  margin: 1rem;
}

.portfolioName {
  font-weight: bold;
}

.button-edit {
  background-color: blue;
  border-radius: 50%;
  float: right;
}

.button-save {
  background-color: green;
  border-radius: 50%;
  float: right;
}

.button-cancel {
  background-color: grey;
  border-radius: 50%;
  float: right;
}

.button-info {
  background-color: purple;
  font-size: 36px;
  margin: 1rem;
}

.button-danger {
  background-color: #f44336;
  border-radius: 50%;
  float: right;
}

.button-disabled {
  background-color: lightgrey;
  color: grey;
  font-size: 36px;
  margin: 1rem;
}

.button-confirm {
  background-color: green;
  font-size: 24px;
  margin: 1rem;
}

.button-default {
  background-color: white;
  font-size: 16px;
  margin: 1rem;
}

#table-wrapper {
  position:relative;
}
#table-scroll {
  height:150px;
  overflow:auto;
  margin-top:20px;
}
#table-wrapper table {
  width:100%;

}
#table-wrapper table * {
  background:yellow;
  color:black;
}
